div.login-form-container {  
    margin-top: 8em;
}
.form-control{
    margin-top:0.4em;
    height: 2.5em;
}

.label{
    margin-right: 1em;
}

.validation{
    color: red;
    margin-bottom: 1.2em;
}




