
<div class="header">

</div>
<br>
<div class="topnav">
  <img class="nav-item logo-img" src="../../../assets/logo.png" alt="" loading="lazy" />
  <div class="nav-items">
    <a>Home</a>
    <a routerLink='/courses'>All Course</a>
    <a routerLink="my-courses">My Courses</a>
    <a routerLink="">Blog</a>
    <a routerLink="">Contact</a>
  </div>

  <div class="signinup">
    <!-- <a *ngIf="!isLogin" (click)="logOut()"  routerLink='/login' class="signin-btn">{{signInValue}}</a> -->
    <a  routerLink='sign-in' class="signin-btn">Sign in</a>
    <a type="button" routerLink='register' class="btn singup-btn"><strong>Sign Up</strong></a>
  </div>
</div>