
<div class="header">

</div>
<br>
<div class="topnav">
  <img class="nav-item logo-img" src="../../../assets/logo.png" alt="" loading="lazy" />
  <div class="nav-items">
    <a>Home</a>
    <a routerLink="">All Course</a>
    <a routerLink="">Pages</a>
    <a routerLink="">Blog</a>
    <a routerLink="">Contact</a>
  </div>

  <div class="signinup">
    <a routerLink="" class="signin-btn">Sign In</a>
    <a type="button" routerLink="" class="btn singup-btn"><strong>Sign Up</strong></a>
  </div>
</div>