div.login-form {
    margin: auto;
    width: 55em;
    height: 35em;
    background-image: url('../../../assets/login-3.png');
    background-repeat: no-repeat;
    border-radius: 0.5em;
    border: 2px solid rgb(233, 243, 237);
}

div.login-form-container {
    
    margin-top: 8em;
}
.form-control{
    margin-top:0.4em;
    height: 2.5em;
}
.input{
    margin-bottom: 1.2em;
}
.label{
    margin-right: 1em;
}




